apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      # This forces Postgres to land on Worker 2 (the backend node)
      nodeSelector:
        tier: backend
      # This allows Postgres to bypass the Taint on Worker 2
      tolerations:
      - key: "workload"
        operator: "Equal"
        value: "backend"
        effect: "NoSchedule"
      containers:
      - name: postgres
        image: postgres:16
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_PASSWORD
          value: "secure_password"